{% extends "base.html" %}
{% block title %}AKBQuiz{% endblock %}

{% block css %}
    <link href="{{STATIC_URL}}css/quizgame.css" type="text/css" rel="stylesheet">

    <script type="text/javascript" src="{{STATIC_URL}}angular-1.2.4/angular.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}angular-1.2.4/angular-animate.min.js"></script>

    <script type="text/javascript" src="{{STATIC_URL}}js/quizgame.js"></script>
{% endblock %}

{% block content %}
<div class="app" ng-app="quizapp" ng-controller="QuizCtrl">
    <div class="above">
        <div class="counter"> <span class="current-no" ng-bind='index + 1'>0</span> / <span class="total-num" ng-bind="quizlist.length"></span> </div>
        <div class="time">用时：<span ng-bind="timeUsed | timefilter"></span></div>
    </div>
    <div class="page" ng-repeat="quiz in quizlist" ng-show="$index == index">
        <div class="col-2">
            <div class="question" ng-bind="quiz.q"></div>
        </div>
        <div class="col-2">
            <div class="answer" ng-repeat-start="a in quiz.a" ng-bind="a" ng-click="check($index)"></div>
            <div style="clear:both;" ng-repeat-end></div>
        </div>
    </div>
    <div class="mask" ng-show="!isStart">
        <div class="maskcontainer" ng-show="!isStart">
            <div class="logo">
                <img src="/static/images/quiz-logo.png" border="0" alt="">
            </div>
            <div class="start" ng-click="start()">Go!</div>
        </div>
    </div>
    <div class="mask" ng-show="isLoading">
        <div class="maskcontainer" ng-show="isLoading">
            <div class="start">Loading...</div>
        </div>
    </div>
    <div class="mask" ng-show="isFinish">
        <div class="maskcontainer" ng-show="isFinish">
            <div class="correct">正确 <span ng-bind="correct"></span></div>
            <div class="incorrect">错误 <span ng-bind="incorrect"></span></div>
            <div class="start" ng-click="start()">再来一局！</div>
        </div>
    </div>
</div>
{% endblock %}

