{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block title %}{{ team.group.groupname }} Team {{ team.teamname|upper }} 队伍信息{% endblock %}
{% block css %}
    <link rel="stylesheet" href="http://akbquiz.qiniudn.com/css/48g-colors.min.css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/database.css">
{% endblock %}

{% block content %}
<div class="item {{ team.group.groupname|lower }}-lg">
    <h1>{{ team.group.groupname }} Team {{team.teamname}}</h1>
    <div class="founded">组建时间：{{ team.founded|date:"Y年n月j日" }}</div>
    <div class="description">{{team.description}}</div>
    <div class="createtime">数据创建时间：{{ team.createtime|date:"Y年n月j日 G:i" }}</div>
    <div class="edittime">数据编辑时间：{{ team.edittime|date:"Y年n月j日 G:i" }}</div>
    <a href="./memberlist/">队伍成员</a>
</div>
{% endblock %}
